/* Universal */
* {
	box-sizing: border-box;
	color: #000;
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

/* Big simple divs */
body {
	background-color: #f1f1f1;
	#text-align: center;
	font-size: 100%;
}

header{
	#text-align: center;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	display: table;
}

footer {
	#text-align: center;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	border-style: double none none none;
	border-width: 6px;
	border-color: #ccc;
	#display: table;
}

a#toTop {
	text-decoration: none;
}

img#logo {
	margin: 15px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 280px;
}

/* Navigation */
nav {
	text-align: center;
	padding-left: 12%;
	padding-right: 12%;
	height: 81px;
	font-family: 'Noto Serif';
}

a.navSection {
	width: 25%;
	float: left;
	padding: 20px;
	text-decoration: none;
	color: #99004d;
	font-size: 1.1vw;
	border-style: double none double none;
	border-width: 6px;
	border-color: #ccc;
}

a.navSection:hover, a.dropNavSection:hover{
	background-color: #e3e3e3;
	transition: 0.15s;
}

div.dropDown {
	display: none;
	position: absolute;
	width: 19%;
	top: 238px;
	
	border-style: double none double none;
	border-width: 6px;
	border-color: #ccc;
	box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
}

a.dropNavSection {
	display: block;
	min-width: 160px;
	padding: 20px;
	
	text-decoration: none;
	color: #99004d;
	font-size: 20px;
}

div#dropDownActivate:hover div.dropDown {
	display: block;
}

#dropDownActivate:hover a#dropDownOrigin, div.dropDown {
	background-color: #e3e3e3;
}

a.dropNavSection:hover {
	background-color: #f1f1f1;
}

/* Content */
content {
	display: block;
	#background-color: #e3e3e3;
	width: 50%;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 0px;
	text-align: left;
}

div.contentContainer {
	display: table;
	width: 100%;
}

div.imgContentContainer {
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 0px;
	padding-bottom: 0px;
}

img.imgContent, img.offTopic {
	width: 80%;
	box-shadow: -1px 1px 10px rgba(0,0,0,0.35);
}

.imgshadow {
	box-shadow: -1px 1px 10px rgba(0,0,0,0.2);
}

h1 {
	font-size: 40px;
	padding: 30px 0px 20px 0px
}

h2 {
	text-align:center;
	font-size: 30px;
	padding-bottom: 20px;
}
h3 {
	font-size: 25px;
}


p {
	font-family: 'Noto Serif';
	#font-size: 20px;
	#font-size: calc(6px + 0.7vw);
	font-size: 0.84vw;
	#min-font-size: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0px;
}

li {
	font-size: 0.84vw;
}

a {
	#color: #ae95ff;
}

.mar {
	margin-top: 20px;
	#margin-bottom: 10px;
}

.nopad {
	padding: 0px;
}

.white {
	color: #fff;
}

.outline {
	text-shadow: 2px 2px 1px #fff, 2px 1px 1px #fff, 2px 0 1px #fff, 2px -1px 1px #fff, 2px -2px 1px #fff, 1px -2px 1px #fff, 0 -2px 1px #fff, -1px -2px 1px #fff, -2px -2px 1px #fff, -2px -1px 1px #fff, -2px 0 1px #fff, -2px 1px 1px #fff, -2px 2px 1px #fff, -1px 2px 1px #fff, 0 2px 1px #fff, 1px 2px 1px #fff;
}

.carousel-caption {
	text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

.jumpleft {
	text-align: right;
}

@media only screen and (max-width: 768px) {
	.jumpleft {
		text-align: left;
		#color: #f00;
	}
}

@media only screen and (max-width: 1366px) {
	p, li {
		font-size: 1.145rem;
	}
	
	a.navSection {
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 1920px) {
	p, li {
		font-size: 1.613rem;
	}
	
	a.navSection {
		font-size: 2.13rem;
	}
}
